.root {
    -fx-base: #20242b;
    -fx-background-color: #20242b;
    -fx-background-insets: 0;
    -fx-padding: 20;
}

.label {
    -fx-font-size: 14pt;
    -fx-text-fill: #4184cf;
}

.text-field, .password-field {
    -fx-background-color: #282c34;
    -fx-background-radius: 20px;
    -fx-text-fill: #a4a8a7;
    -fx-prompt-text-fill: #707070;
    -fx-font-size: 14pt;
}

.button {
    -fx-padding: 10 40 10 40;
    -fx-font-size: 14pt;
    -fx-background-color: #4184cf;
    -fx-text-fill: #2d2d2d;
    -fx-border-radius: 40px;
    -fx-background-radius: 40px;
    -fx-pref-width: 150px;
}

.button:hover {
    -fx-background-color: #284474;
}

.button:pressed {
    -fx-background-color: #284474;
}
.btnRegister{
    -fx-padding: 10 40 10 40;
    -fx-font-size: 14pt;
    -fx-background-color: #20242b;
    -fx-text-fill: #2d2d2d;
    -fx-border-radius: 40px;
    -fx-background-radius: 40px;
}
.text-field,.password-field{
    -fx-padding: 10;
}
